<div class="dashboard-page">
    <button>Create Project</button>
    <div class="create-project-popup">
        <!-- Step 1 -->
        <div class="create-project-step-1">
            <p>What do you want to do?</p>
            <select [(ngModel)]="selectedAction">
                <option [value]="'plan'">Let's plan</option>
                <option [value]="'start'">Start writing</option>
            </select>
        </div>
        <!-- Step 2 -->
        <div class="create-project-step-2">
            <input type="text" placeholder="Name for project" [(ngModel)]="newProject.name" />
            <input type="text" placeholder="Author of the project" [(ngModel)]="newProject.author" />
            <textarea placeholder="Idea for the project" [(ngModel)]="newProject.idea"></textarea>
            <button (click)="generateIdeas">Generate 3 ideas with AI</button>
            @for (idea of generatedIdeas; track idea) {
                <div>{{idea}}</div>
            }
            <button (click)="createProject()">Create Project</button>
        </div>
        <!-- Step 3 -->
        <div class="create-project-step-3">
            <select id="genreSelect" [(ngModel)]="selectedGenres" multiple>
                <option *ngFor="let genre of story_genres" [value]="genre">{{ genre }}</option>
            </select>

            <select id="typeSelect" [(ngModel)]="selectedStoryType">
                <option *ngFor="let type of story_types" [value]="type">{{ type }}</option>
            </select>
            <textarea placeholder="Author of the project" [(ngModel)]="newProjectPrompt"></textarea>
            <button>Generate 3 prompts with AI</button>
            @for (prompt of generatedPrompts; track prompt) {
                <div>{{prompt}}</div>
            }
            <button (click)="submitPrompt()">Submit</button>
        </div>
    </div>
    <div class="search-project">
        <input type="search" placholder="Search for projects"/>
        <select><option selected>Any</option><option>Tags</option></select>
    </div>
    <div class="project-list">
        @for (project of filteredProjects; track project.name) {
            <div class="project" (click)="selectProject(project.project_id)">
                <div>{{project.name}}</div>
                <div>{{project.author}}</div>
                @for (genre of project.genres; track genre) {
                    <span>{{genre}}</span>
                }
                @for (type of project.story_types; track type) {
                    <span>{{type}}</span>
                }
            </div>
        } @empty {
            <p>No projects found. Create your first project to get started.</p>
        }
    </div>
</div>